<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>User Login</title>
</head>

<div layout:fragment="content">
    <div th:unless = ${user} class="row mt-5">
        <p>로그인 페이지로 이동하시겠습니까?</p>
        <button class="btn-outline-light"><a href="/users/login">로그인</a></button>
    </div>
    <div th:if = ${user} class="row mt-3">
        <h1> 마이페이지 입니다.</h1>
        <div class="col">
                <div class="card">
                    <div class="card-header">
                        <ul>
                            <li>아이디 : </li>
                            <li th:text="${user}"></li>
                        </ul>
                        <ul>
                            <li>비밀번호 : </li>
                            <li th:text="${userpw}"></li>
                        </ul>
                        <ul>
                            <li>닉네임 : </li>
                            <li th:text="${username}"></li>
                        </ul>

                    </div>
                </div><!--end card-->
            </div><!-- end col-->
        </div><!-- end row-->
            </div>

<script layout:fragment="script" th:inline="javascript">
    // const errors = [[${errors}]]
    // const error = [[${errors1}]]
    // const message1 = [[${message}]]

    // if(errors){
    //     for(let i=0; i<errors.length; i++){
    //         errorMsg += `${errors[i].field}은(는) ${errors[i].code}`
    //     }
    //     alert(errorMsg)
    // }
    // alert(message1)
</script>
</html>